@model VirtualTrainer.EscalationsFrameworkConfigEmailRazorModel

<div>
    Dear @Model.BreachLogs[0].RuleBreachFieldOne,

    <br />
    please find your leisure statement attached

    <H2 style='color:red;'>Yours Sincerely,</H2>
    <h2>@Model.SentFromName</h2>
</div>

