
@{
    ViewBag.Title = "AccessDenied";
}

<div id="error-panel" class="col-sm-6 col-sm-offset-3" style="height: 400px; margin-top: 50px;">
    <h2>Access Denied</h2>
    <p>You are not authorised to access This @System.Configuration.ConfigurationManager.AppSettings["ProjectName"] page. Please contact the Service Desk to request access.</p>
</div>

