
@{
    ViewBag.Title = "PageNotFound";
}

<div id="error-panel" class="col-sm-6 col-sm-offset-3" style="height: 400px; margin-top: 50px;">
    <h2>Page not found</h2>

    <p>Oops. You have been navigated to a page that does not exist.</p>

</div>
