<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SystemAccessDomain" value="emea" />
    <add key="SystemAccessDomainGroup" value="Everyone" /><!--if AD group Name (e.g. GGB.UK.Technology) = only those will gain access, if Everyone, Everone will be able to access, if Blank, no one will be able to access. -->
    <add key="PrintCostPerPage_BlackandWhite" value="2" />
    <add key="PrintCostPerPage_Colour" value="10" />
    <add key="TargetHomePage" value="MyHub" />    
    <add key="SystemSentFromName" value="My Hub" />
    <add key="RunSeedOnEFDeployment" value="true" />
    <add key="ProjectName" value="My Hub" />
    <add key="ExchangeRuleEnabled" value="true" />
    <add key="ExcelRuleEnabled" value="true" />
    <add key="EncryptionKey" value="427061DB-F509-4F92-9A56-8B9AD3E17A91" />
    <add key="MicrosServicesEnabled" value="true" />      
    <add key="TimeSheetProjectId" value="a9fbcd4a-d7df-46e5-bfc3-c124dad930e5" />
    <add key="DirectoryEntryPath" value="GC://DC=ajgco,DC=com" />
    
    <!--Dev-->
    <add key="targetSystem" value="Dev" />
    <add key="SystemSentFromEmailAddress" value="UK.NoReply.MyHub.Dev@ajg.com" />
    <add key="TechTimeSheetEnabled" value="true" />
    <add key="ADImportSamAccountNames" value="bmkruger" />
    <add key="OverrideUsersSamAccountNames" value="smatson,chcrawford,bmkruger,s-Dms-00d-spk2" />

    <!--Test-->
    <!--<add key="targetSystem" value="Test" />
    <add key="SystemSentFromEmailAddress" value="UK.NoReply.MyHub.TEST@ajg.com" />
    <add key="TechTimeSheetEnabled" value="true"/>
    <add key="ADImportSamAccountNames" value="smatson" />
    <add key="OverrideUsersSamAccountNames" value="smatson,chcrawford,bmkruger" />-->  
        
    <!--UAT-->
    <!--<add key="targetSystem" value="UAT" />
    <add key="SystemSentFromEmailAddress" value="UK.NoReply.MyHub.UAT@ajg.com" />
    <add key="TechTimeSheetEnabled" value="true"/>
    <add key="ADImportSamAccountNames" value="smatson" />
    <add key="OverrideUsersSamAccountNames" value="smatson" />-->  
    
    <!--Prod-->
    <!--<add key="targetSystem" value="Prod" />
    <add key="SystemSentFromEmailAddress" value="UK.NoReply.MyHub@ajg.com" />
    <add key="TechTimeSheetEnabled" value="true"/>
    <add key="ADImportSamAccountNames" value="smatson" />
    <add key="OverrideUsersSamAccountNames" value="smatson" />-->  
  </appSettings>
  <connectionStrings>
    <!-- DEV -->
    <add name="VirtualTrainer" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=MyHub;Integrated Security=True;Pooling=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <!-- Test-->
    <!--<add name="VirtualTrainer" connectionString="Data Source=EMEUKHC4DB07PD\SILO;Initial Catalog=MyHub;Integrated Security=True;Pooling=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!-- UAT -->
    <!--<add name="VirtualTrainer" connectionString="Data Source=EMEUKHC4DB05PT\SILO;Initial Catalog=MyHub;Integrated Security=True;Pooling=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <!-- Production-->
    <!--<add name="VirtualTrainer" connectionString="Data Source=EMEUKHC4DB45CP\SHAREDSYSTEMS;Initial Catalog=MyHub;Integrated Security=True;Pooling=False;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->    
  </connectionStrings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
    <targets>
      <target name="file1" xsi:type="File" archiveEvery="Month" layout="${date:format=yyyyMMddHHmmss} ${message} ${windows-identity} ${identity} ${logger}" fileName="${logDirectory}/file1.txt" />
      <target name="Db" xsi:type="Database" ConnectionString="Data Source=smiukvdbt121;Initial Catalog=MyHubAndyFooks;Integrated Security=True;Pooling=False;MultipleActiveResultSets=true;" dbProvider="System.Data.SqlClient">
        <commandText>
          Insert into LogEntry (Username, TimeStamp, [Level], Logger, Message, ErrorMessage, LogType, CallStack, MachineName)
          Values (@Username,@TimeStamp, @Level, @Logger, @Message, @ErrorMessage, 'log type... ', @CallStack, @MachineName)
        </commandText>
        <parameter name="@Username" layout="${windows-identity}" />
        <parameter name="@TimeStamp" layout="${date:s}" />
        <parameter name="@Logger" layout="${logger}" />
        <parameter name="@Level" layout="${level}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@MachineName" layout="${machinename}" />
        <parameter name="@ErrorMessage" layout="${exception:format=message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
        <parameter name="@CallStack" layout="${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Info" writeTo="file1" />-->
      <logger name="*" minlevel="Info" writeTo="Db" />
      <!--<logger name="*" minlevel="Error" writeTo="file1" />-->
    </rules>
  </nlog>
  <system.net>
    <mailSettings>
      <!-- DEV -->
      <smtp deliveryMethod="Network" from="andyfooks@live.com">
        <network defaultCredentials="false" userName="andyfooks@live.com" password="" enableSsl="true" host="smtp.live.com" port="587" />
      </smtp>
      <!--Test-->
      <!--<smtp deliveryMethod="Network" from="UK.NoReply.VirtualTrainer.Test@ajg.com">
        <network enableSsl="false" host="Relaypointuk.ajg.com" />
      </smtp>-->     
      <!--UAT-->
      <!--<smtp deliveryMethod="Network" from="UK.NoReply.MyHub.UAT@ajg.com">
        <network enableSsl="false" host="Relaypointuk.ajg.com" />
      </smtp>-->
      <!--Prod-->
      <!--<smtp deliveryMethod="Network" from="UK.NoReply.MyHub@ajg.com">
        <network enableSsl="false" host="Relaypointuk.ajg.com"/>
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxQueryStringLength="2097151" maxRequestLength="2147483647" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
    <roleManager cacheRolesInCookie="false" defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="AJG.VirtualTrainer.MVC.Auth.CustomRoleProvider, AJG.VirtualTrainer.MVC" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>                       
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>      
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="2147483647" maxAllowedContentLength="2147483647" maxQueryString="2147483647" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
