@{
    Layout = "";
}
<div id="systemUsersGrid" style=""></div>
<br />
<div id="systemuserspermissionstabstrip" class="col-md-12">
    <ul class="nav nav-tabs" role="tablist" style="margin-left:50px;">
        <li role="presentation" onclick="" class="active">
            <a role="tab" data-toggle="tab">Project Membership</a>
        </li>
    </ul>
    <div id="SystemUsersRoles" class="tab-content" style="margin-left:50px;">
        <div role="tabpanel" class="tab-pane active container-fluid" id="systemUserSystemPermissionsPanel">
            <div id="systemUserSystemPermissionsGrid" style="font-size:small"></div>
        </div>
    </div>
</div>