@{
    Layout = "";
}

<div id="systemLogsGrid" style=""></div>
<br />
<div class="row">
    <div class="col-md-6 text-center">
        <label>Error Message</label>
        <br />
        <div style="height:400px; overflow: auto; overflow-x: hidden;" id="systemLogErrorMessage"></div>
    </div>
    <div class="col-md-6 text-center">
        <label>Stack Trace</label>
        <br />
        <div style="height:400px; overflow: auto; overflow-x: hidden;" id="systemLogStackTrace"> </div>
    </div>
</div>