<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="WebMethodsToCallSection" type="AJG.VirtualTrainer.Console.WebMethodsToCallSection, AJG.VirtualTrainer.Console" />
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>   
    <add key="Environment" value="prod" /> <!-- value=test,uat,uatPreReleaseTemp,prodtest,prod-->
  </appSettings>
  <WebMethodsToCallSection>
    <Urls>
      <add name="ExecuteVirtualTrainerTest" TargetEnvironment="test" url="http://myhubtest.emea.ajgco.com/Admin/ExecuteVirtualTrainer" />
      <add name="SaveADStructureToDBTest" TargetEnvironment="test" url="http://myhubtest.emea.ajgco.com/MyHub/SaveADStructureToDB" />
      <add name="ExecuteVirtualTrainerUat" TargetEnvironment="uat" url="http://myhubuat.emea.ajgco.com/Admin/ExecuteVirtualTrainer" />
      <add name="SaveADStructureToDBUat" TargetEnvironment="uat" url="http://myhubuat.emea.ajgco.com/MyHub/SaveADStructureToDB" />
      <add name="SaveADStructureToDBProd" TargetEnvironment="prod" url="http://emeukhc4ww77vp:2020/MyHub/SaveADStructureToDB" />
      <add name="ExecuteVirtualTrainerProd" TargetEnvironment="prod" url="http://emeukhc4ww77vp:2020/Admin/ExecuteVirtualTrainer" />   
    </Urls>
  </WebMethodsToCallSection>
</configuration>